<div class="image-container">
  <img src="../assets/img/HomeSlider_Piano.jpg" />
  <div class="after">
      <div class="desc-wrapper">
        <p><span class="top">Welcome to Orange County Music School!</span><br/><span class="bottom">Music Education in the Finest European Traditions</span></p>
        <div class="bottom-buttons">
          <a class="btn btn-lg btn-info" routerLink="/about">About Us</a>
          <a class="btn btn-lg btn-info" routerLink="/learntoplay">Lessons</a>
        </div>
      </div>
  </div>
</div>
