<div class="content-section-heading">
  <h2 class="content-section-subtitle">
    <span class="title-point"></span>
    Testimonials										
  </h2>
  <h1 class="content-section-title">
    <span>Hear What They're Saying</span>
  </h1>
  <div class="content-section-line">
    <span>
      
    </span>
  </div>
</div>
<!-- TESTIMONIALS -->
<div class="quote-block bg-color">
  <div class="container no-wrap">
    <div class="quote-block-inside">
      <div class="quote-block-wrap">
      <div class="quote-block-content">
        <p>Stella is a brillant, creative teacher. She has a terrific rapport with her students and uses multi-modality teaching to nurture musical talent. My 6-year-old daughter said "She is a creative, loving person and she teaches very well</p>
      </div>
      <div class="quote-block-bottom">
        <span class="quote-block-author">
          <span class="quote-block-icon">
            <i class="fa fa-quote-left"></i>
          </span>
          SHANNON																</span>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding: 10px 15px;">
  <div class="col-lg-12 testimonials-cont">
    <div class="testimonials" *ngFor="let test of testimonials | async">
      <div>
        <div class="testimonials-content">
          <span class="testimonials-arrow"></span>
          <p innerHtml="{{test.text}}"></p>
        </div>
        <div class="testimonials-author">
          <div class="testimonials-image">
              <img alt="testimonial author" src="../assets/img/5stars.png"> 
          </div>
          <div class="testimonials-author-name">{{test.author}}</div>
          <div class="testimonials-author-info content"></div>
          <div class="cleared"></div>
        </div>
      </div>
    </div>
  </div>
</div>