<div class="row">
  <!-- Select FAQ to Edit -->
  <div class="col-lg-6">
    <div class="faq-select-container">
      <button class="new-btn btn btn-info mB15" (click)="setNewFAQ()">New</button>
      <app-tile-list-viewswitch (viewSelected)="view = $event"></app-tile-list-viewswitch>
      <div [ngClass]="{'list-view': view === 'list', 'tile-view': view === 'tile'}">
        <app-tile-list-viewswitch-item
        *ngFor="let faq of faqs | async; let i = index"
          [view]="view"
          [title]="faq.question"
          [desc]=""
          [leftNote]="faq.createdAt.toDate() | date:'mediumDate'"
          [rightNote]=""
          (click)="setSelectedFAQ(faq)">
        </app-tile-list-viewswitch-item>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <!-- SAVE FORM -->
  <form (ngSubmit)="saveFAQ(faqForm)" #faqForm="ngForm">
      <div class="form-group">
        <label for="question">Question</label>
        <textarea rows="3" class="form-control" id="text" required
          [(ngModel)]="model.question" name="question"
          #question="ngModel"
          [ngClass]="{
            'has-success': question.valid,
            'has-danger': !question.pristine && !question.valid
          }">
        </textarea>
          <div [hidden]="question.valid || question.pristine" class="alert alert-danger">
            Question is required
        </div>
      </div>
      <div class="form-group">
        <label for="answer">Answer</label>
        <textarea rows="5" class="form-control" id="answer" required
          [(ngModel)]="model.answer" name="answer"
          #answer="ngModel"
          [ngClass]="{
            'has-success': answer.valid,
            'has-danger': !answer.pristine && !answer.valid
          }">
          </textarea>
          <div [hidden]="answer.valid || answer.pristine" class="alert alert-danger">
            Answer is required
        </div>
      </div>
      <div class="form-group">
        <label for="isActive">Active</label>
        <input [checked]="model.isActive" 
        [(ngModel)]="model.isActive" 
        type="checkbox" 
        name="isActive" 
        id="isActive" 
        #isActive
        >      
          <!-- <div [hidden]="isActive.valid || isActive.pristine"
              class="alert alert-danger">
              isActive is required
        </div> -->
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!faqForm.form.valid">Save</button>
    </form> 
  </div>
</div>





