<div class="manager-container">

<div class="row">
  <div class="top-row">
    <button class="btn btn-success" (click)="flipSwitch()"
      [ngClass]="liveChatSwitch ?'here': 'away'">
      {{liveChatSwitch == true ? 'Here' : 'Away'}}
    </button>
    <input mat-input type="number" [value]="numVisChats" (change)="getVisChats($event.target.value)">
    <app-tile-list-viewswitch (viewSelected)="selectedView($event)"></app-tile-list-viewswitch>
  </div>
  <div class="col-lg-6">
    <div class="tile-cont" *ngIf="tileOrList == 'tile'">
      <!-- <div class="tile" *ngFor="let lc of liveChatsByDate | async"
        (click)="setCurrentLiveChat(lc.key); markNoNewMessages();"> -->
      <div class="tile" *ngFor="let lc of visChats"
        (click)="setCurrentLiveChat(lc.key); markNoNewMessages();">
        <div class="top">
            <!-- <button class="action-btn-tile" [matMenuTriggerFor]="menu" (onMenuOpen)="setCurrentLiveChat(lc.key)">
                <mat-icon class="md-14" svgIcon="dots-vertical"></mat-icon>
            </button>   -->
          <div class="top-left">{{lc.name}}</div>
          <div class="top-right">{{lc.email}}</div>
        </div>
        <div class="bottom">
          <!-- Message Placeholder -->
          <!-- {{getFirstMessage(lc.key)}} -->
        </div>
      </div>
    </div>
    <div *ngIf="tileOrList == 'list'" >
      <!-- <div class="tile-view" *ngFor="let lc of liveChatsByDate | async"> -->
      <div class="tile-view" *ngFor="let lc of visChats">
        <!-- <button class="action-btn-list" [matMenuTriggerFor]="menu" (onMenuOpen)="setCurrentLiveChat(lc.key)">
            <mat-icon class="md-14" svgIcon="dots-vertical"></mat-icon>
        </button>   -->
        <div (click)="setCurrentLiveChat(lc.key); markNoNewMessages();">
            <span>{{ lc.name }}</span>
            <span>{{ lc.email }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="chat-container">
        <div #scrollMe class="chat-messages-container">
        <div *ngFor="let msg of currentLiveChatMessages | async">
          <app-bubble 
            [time]="msg.createdAt.toDate() | date:'shortTime'" 
            [message]="msg.message" 
            [bubbleClass]="msg.fromAdmin ? 'left' : 'right'">
          </app-bubble>
        </div>
      </div>
      <div class="chat-newMsg-container">
        <textarea name="newMsg" #newMsg cols="5" rows="3" (keydown.enter)="sendMessage(newMsg.value);newMsg.value = '';false"></textarea>
      </div>
    </div>
  </div>
</div>
</div>

<!-- MENU -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="deleteLivechat()">
    <mat-icon svgIcon="delete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>