<app-page-header [title]="'Administration'"></app-page-header>

<mat-sidenav-container class="sidenav-fab-container">
  <mat-sidenav mode='side' opened='true'>
    <!-- sidenav content -->
    <ul>
      <li><a routerLink="/admin/chat">LiveChat</a></li>
      <li><a routerLink="/admin/faq">FAQs</a></li>
      <li><a routerLink="/admin/messages">Contact Messages</a></li>
      <li><a routerLink="/admin/media">Media</a></li>
      <li><a routerLink="/admin/resources">Resources</a></li>
      <li><a routerLink="/admin/signups">Signups</a></li>
      <li><a routerLink="/admin/teachers">Teachers</a></li>
      <li><a routerLink="/admin/testimonials">Testimonials</a></li>
      <li><a routerLink="/admin/users">Users</a></li>
    </ul>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>