:host {
  min-height: 100vh;
}

.sidenav-fab-container {
  // width: 500px;
  min-height: 300px;
  // border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-fab-container mat-sidenav {
  max-width: 200px;
}

.sidenav-fab-container .mat-sidenav-content,
.sidenav-fab-container mat-sidenav {
  display: flex;
  overflow: visible;
}

.mat-sidenav ul {
  padding:5px;
  list-style: none;
}