<app-page-header [title]="'PlayGround'"></app-page-header>

dispNumber: {{dispNumber}}
<!-- <todo-display></todo-display> -->

<!-- <app-visualizer></app-visualizer> -->

<!-- <div class="card">
  <div class="card-block">
    <ul>
      <li
        *ngFor="let event of extEvents"
        mwlDraggable
        [dropData]="{event: event}"
        style="position:relative; z-index: 10">
        <a
          href="javascript:;"
          [style.color]="event.color.primary">
          {{ event.title }}
        </a>
      </li>
    </ul>
  </div>
</div> -->

<!-- <app-calendoer></app-calendoer>  -->

