<!-- <div class="card">
  <div class="card-block">
    <ul>
      <li
        *ngFor="let event of extEvents"
        mwlDraggable
        [dropData]="{event: event}"
        style="position:relative; z-index: 10">
        <a
          href="javascript:;"
          [style.color]="event.color.primary">
          {{ event.title }}
        </a>
      </li>
    </ul>
  </div>
</div> -->

<app-calendoer></app-calendoer> 



<!-- <div mwlDraggable dropData="bar" [dragSnapGrid]="{x: 100, y: 100}">
  I snap to a 100 x 100 grid
</div>
<div
  [class.dropOverActive]="dropOverActive"
  mwlDroppable
  (dragEnter)="dropOverActive = true"
  (dragLeave)="dropOverActive = false"
  (drop)="onDrop($event)">
  <span [hidden]="droppedData">Drop here</span>
  <span [hidden]="!droppedData">Item dropped here with data: "{{ droppedData }}"!</span>
</div>

<div mwlDraggable dropData="foo">
  Drag me!
</div> -->