<div mwlDraggable dropData="foo">
  Drag me!
</div>
<div mwlDraggable dropData="bar" [dragSnapGrid]="{x: 100, y: 100}">
  I snap to a 100 x 100 grid
</div>
<div
  [class.dropOverActive]="dropOverActive"
  mwlDroppable
  (dragEnter)="dropOverActive = true"
  (dragLeave)="dropOverActive = false"
  (drop)="onDrop($event)">
  <span [hidden]="droppedData">Drop here</span>
  <span [hidden]="!droppedData">Item dropped here with data: "{{ droppedData }}"!</span>
</div>

<div class="row">
  
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <ul>
            <li
              *ngFor="let event of externalEvents"
              mwlDraggable
              [dropData]="{event: event}"
              style="position:relative; z-index: 10">
              <a
                href="javascript:;"
                [style.color]="event.color.primary">
                {{ event.title }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="col-md-9">
      <mwl-demo-utils-calendar-header
        [(view)]="view"
        [(viewDate)]="viewDate">
      </mwl-demo-utils-calendar-header>
  
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [activeDayIsOpen]="activeDayIsOpen"
          [refresh]="refresh"
          (eventTimesChanged)="eventDropped($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventTimesChanged)="eventDropped($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventTimesChanged)="eventDropped($event)">
        </mwl-calendar-day-view>
      </div>
    </div>
  
  </div>