<div class="child-nav">
  <div class="arrow-up"></div>
  <nav>
    <a [routerLink]="['adverts']">Advert</a>
    <a [routerLink]="['announcements']">Announcements</a>
    <a [routerLink]="['chat']">Chat</a>
    <a [routerLink]="['faq']">FAQ</a>
    <!-- <a [routerLink]="['gallery']">Gallery</a> -->
    <a [routerLink]="['media']">Gallery</a>
    <a [routerLink]="['messages']">Messages</a>
    <a [routerLink]="['resources']">Resources</a>
    <a [routerLink]="['signups']">Signups</a>
    <a [routerLink]="['teachers']">Teachers</a>
    <a [routerLink]="['testimonials']">Testimonials</a>
    <a [routerLink]="['videos']">Videos</a>
  </nav>
</div>
<router-outlet></router-outlet>

<!--CHILD ROUTES HERE -->
