<div *ngIf="view === 'tile'; else list">
  <div class="tile">
    <div class="top">
      <div class="title">{{ (title.length > 45) ? (title| slice:0:45) + '...' : (title)  }}</div>
      <div class="desc">{{ desc }}</div>
    </div>
    <div class="bottom">
      <div class="left">{{ leftNote }}</div>
      <div class="right">{{ rightNote }}</div>
    </div>
  </div>
</div>


<!-- TEMPLATES -->
<ng-template #list>
  <div class="list">
      <span class="left">{{ (title.length > 30) ? (title| slice:0:30) + '...' : (title)  }}</span> 
      <span class="desc">{{ desc }}</span> 
      <span class="right">{{ leftNote }} {{ rightNote }}</span></div>
</ng-template>