.not-here {
    text-align: center;
    line-height: 3;
    font-size: 18px;
  }
  
  .livechat-container{
    width: 300px;
    min-height: 400px;
    /* height: 300px;   */
    position: fixed; 
    bottom: 0px;
    right: 20px;
    z-index: 9999;
    border:1px solid black;
    border-bottom: none;
    background-color:#fff;
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
    border: 1px solid #fff;
    border-radius: 5px;
  }
  
  .chat-icon {
      max-height: 25px;
      margin-left: -85px;
      margin-right: 45px;
  }
  
  .show-chat {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #FF4500;
    cursor: pointer;
    background: #FF4500;
    color: #fff;
    border-radius: 5px;
  }
  
  .info-form {
    padding:10px;
  }
  
  .info-content {
    color:#000;
  }
  
  .chat-messages-container {
    overflow-y: scroll;
    height:290px;
  }
  
  .chat-info-right, .chat-info-left {
    font-size: 11px;
    margin-left: 11px;
    margin-top: 7px;
  }
  
  .chat-info-right {
  
  }
  
  .chat-info-left {
  
  }
  
  .chat-newMsg-container {
    position: absolute;
    bottom:0px;
    width:100%;
  }
  
  .chat-newMsg-container textarea {
    width: 100%;
    resize: none;
    border: none;
    border-top: 1px solid #FF4500;
  }
  
  .speech-bubble-left, .speech-bubble-right {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
    max-width: 85%;
    min-width: 30%;
    margin-left: 17px;
    display: inline-block;
    padding: 3px 10px;
  }
  
  .speech-bubble-right {
    background: #00cc00;
    right: -138px;
  }
  
  .speech-bubble-left:after {
      content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #00aabb;
    border-left: 0;
    border-bottom: 0;
    margin-top: -8.5px;
    margin-left: -14px;
  }
  
  .speech-bubble-right:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 15px solid transparent;
      border-left-color: #00cc00;
      border-right: 0;
      border-bottom: 0;
      margin-top: -8.5px;
      margin-right: -14px;
  }
  
  textarea {
    border: none;
  }
  
  /*BUBBLES*/
  .bubble-dialog {
    white-space: pre-line;
    line-height:0;
  }
  
  .bubble-left,
  .bubble-right {
    line-height: 100%;
    display: block;
    position: relative;
    padding: .25em .5em;
    background: pink;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    margin-bottom: 2em;
    clear: both;
    max-width:50%;
  }
  p{
    margin-bottom: 0;
  }
  
  .bubble-left {
    float: left;
    margin-right:10%;
    background: #00aabb;
    border: 1px solid #00aabb;
    margin-left: 20px;
  }
  .bubble-right {
    float:right;
    margin-left:10%;
    background:#00cc00;
    border: 1px solid #00cc00;
    margin-right: 20px;
  }
  
  .bubble-left:before,
  .bubble-right:after{
    content: "";
    position: absolute;
    top: 21px;
    border-style: solid;
    border-width: 13px 17px 13px 0;
    border-color: transparent pink;
    display: block;
    width: 0;
  }
  
  .bubble-left:after,
  .bubble-left:before {
    border-width: 13px 17px 13px 0;
    border-color: transparent pink;
  }
  
  .bubble-right:after,
  .bubble-right:before {
    border-width: 13px 0 13px 17px;
    border-color: transparent pink;
  }
  
  .bubble-left:before {
    left: -14px;
    border-color: transparent #00aabb;
    z-index: 0;
    margin-bottom: 30px;
    bottom: 0px;
    top: 20px;
  }
  
  .bubble-right:after {
    right: -14px;
    border-color: transparent #00cc00;
    z-index: 1;
    bottom: 0px;
    margin-bottom: 30px;
    bottom: 0px;
    top: 20px;
  }
  