

<div class="livechat-container" [@slideUpDownAnimation]='slideState'>
  <div class="show-chat" (click)="toggleAnimationState()"> <img class="chat-icon" src="assets/img/speech-bubble.png"> CHAT WITH US</div>
  <div class="chat-container">
    <div class="flip-container" *ngIf="sessionRunning; else showInfo_content">
      <div #scrollMe class="chat-messages-container">
        <div *ngFor="let msg of windowLiveChatMessages | async">
          <app-bubble 
            [time]="msg.createdAt.toDate() | date:'shortTime'" 
            [message]="msg.message" 
            [bubbleClass]="msg.fromAdmin ? 'right' : 'left'">
          </app-bubble>
        </div>
      </div>
      <div class="chat-newMsg-container">
        <textarea name="newMsg" #newMsg cols="5" rows="3" (keydown.enter)="sendMessage(newMsg.value);newMsg.value = '';markHasNewMessages();false"></textarea>
      </div>
    </div>
  </div> 
  </div>
  
  <!-- TEMPLATE -->
  <ng-template #showInfo_content>
    <div *ngIf="!switch" class="not-here">
      <h3>Sorry, we're not here right now</h3>
      <span>Go to our contact page and leave us a message, thanks!</span><br/>
      <button class="btn btn-lg btn-info"><a routerLink="/contact" style="color:white; text-decoration: none;">Contact</a></button>
    </div>
    <div *ngIf="switch" class="info-content">
    <form (ngSubmit)="beginChat(infoForm)" #infoForm="ngForm" class="info-form">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required
            [(ngModel)]="model.name" name="name"
            #name="ngModel"
            [ngClass]="{
              'has-success': name.valid,
              'has-danger': !name.pristine && !name.valid
            }">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" required
            [(ngModel)]="model.email" name="email"
            #email="ngModel"
            [ngClass]="{
              'has-success': email.valid,
              'has-danger': !email.pristine && !email.valid
            }">
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea rows="3" class="form-control" id="message" required
            [(ngModel)]="model.message" name="message"
            #message="ngModel"
            [ngClass]="{
              'has-success': message.valid,
              'has-danger': !message.pristine && !message.valid
            }">
          </textarea>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!infoForm.form.valid">Start Chat</button>
      </form> 
    </div>
  </ng-template>
  
  