<!-- Custom Template -->
<h3>Basic Custom Template</h3>
<tree-root #todoer [nodes]="nodes">
  <ng-template #treeNodeTemplate let-node let-index="index">
    <span>{{ node.data.name }}</span>
    <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <mat-menu #menu="matMenu" [overlapTrigger]="true">
      <button (click)="addSibling($event, node)">Add Sibling</button>
      <button (click)="addChild($event, node)">Add Child</button>
      <button (click)="removeNode($event, node)">Remove</button>
    </mat-menu>
  </ng-template>
</tree-root>