:host {
  width:100%;
}

.teachers-container {
  display: flex;
  flex-flow: row wrap;

  .teacher {
    cursor: pointer;
    margin: 8px;
    display: flex;
    flex-flow: column;

    img {
      border:1px solid black;
      border-radius: 5px;
      max-width: 200px;
      max-height: 130px;
    }

    span {
      text-align: center;
    }
  }
}



.teacher 

.new-btn {
  margin-bottom:7px;
}

