/* CSS Document */

.sliderwrapper{
	position: relative; /*leave as is*/
	overflow: hidden; /*leave as is*/
	border:0;
	width: 800px; /*width of featured content slider*/
	height: 217px;
	
}
.sliderwrapper .contentdiv{
visibility: hidden; /*leave as is*/
position: absolute; /*leave as is*/
left: 0;  /*leave as is*/
top: 0;  /*leave as is*/

width: 800px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
height: 217px;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}




.pagination{
	width: 785px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
	text-align: right;
	padding: 5px 0px;
 	padding-right:0px;
	position:absolute;
	top:180px;
	z-index:100;
}


*+html .pagination{
	width: 400px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
	text-align: right;
	padding: 5px 0px;
	padding-right:50px;
	position:absolute;
	top:580px;
	z-index:100;
}
.flahsbg{
	width:800px;
	height:217px;
	float:left;
	position:relative;
}


.pagination a{
padding: 5px 8px;
text-decoration: none; 
color: #fff;
font-weight:bold;
background-color: #92bd6e;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

.pagination a:hover, .pagination a.selected{
background-color: #D5D2D2;
color: #000;
font-weight:bold;
}
