@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
 	background:url(../images/bg.jpg) repeat-x top #FFFFFF;
}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
img{ padding:0; margin:0;}
img a{ border:0;}
p{ padding:0; margin:0; padding-bottom:12px;}
a{ text-decoration:none; outline:0px; color:#000000;}
a:hover{ }
ul,li,ol{margin:0; padding:0;}

.clear{ clear:both; display:block;}


/**************************************************************/

#container{
	width:810px;
	margin:0 auto;
}
/****************************************************************
header starts here
******************************************************************/
#header{
	width:810px;
	float:left;
	height:200px;
}
.logosection{
	width:810px;
	height:111px;
	float:left;
	position:relative;
}
.logo{
	width:200px;
	height:93px;
	margin:0 auto;
	margin-top:18px
	}
.login{
	width:120px;
	height:20px;
	position:absolute;
	right:0;
	top:80px;
	z-index:100;
	}
.login a{
	font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#383a3d;}

.login a:hover{ color:#428909;}

/*******************************  Navigation Start  **************************************/


/*******************************  Navigation End  **************************************/

.flashsection{
	width:800px;
	height:217px;
	float:left;
	padding:4px;
	border:1px solid #c7c7c7;
	margin-bottom:5px;
	}
/************************************************************************************/

.contentarea{
	width:810px;
	float:left;
	padding-top:17px;
	border-top:solid 4px #5a5453;
	margin-bottom:10px;
	}
.left_container{
	width:563px;
	float:left;
	}
.left_container legend{
	color:#4f9e0f; /* IE styles legends with blue text by default */
	margin-left:0px; /* A hack that only ie reads to position the legend in the same place cross browser */
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:20px;
	}
.left_container fieldset {
	border:1px solid #d7d7d7; /* Default fieldset borders vary cross browser, so make them the same */
    font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    color:#666666;
    padding:15px 18px 10px 18px;
	
}
.left_container p{
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#383a3d; line-height:20px; text-align:justify;}

.latestnews{
	width:228px;
	float:right;
	background:url(../images/latestnews_bg.gif) repeat-x top #276854;
	margin-top:12px;
	}
.latestnews h2{
	font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#FFFFFF; font-weight:bold; padding:5px 0px 13px 10px;}

.latestnews p{
	 font-family:Tahoma; font-size:11px; font-weight:bold; color:#FFFFFF; padding-left:10px; padding-bottom:13px;}
	
.latestnews p a{
	font-family:Tahoma; font-size:11px; font-weight:bold; color:#FFFFFF; }

.latestnews p a:hover{
	text-decoration:underline;}

/*****************************************************************************************************************************************/

.footer{
	width:810px;
	height:50px;
	float:left;
	border-top:4px solid #5a5453;
	}
.footer p{
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#5a5453; padding-top:12px;}


