@charset "utf-8";
/* CSS Document */

.innercontainer{
	width:810px;
	float:left;
	}
.innercontainer legend{
	color:#4f9e0f; /* IE styles legends with blue text by default */
	margin-left:0px; /* A hack that only ie reads to position the legend in the same place cross browser */
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:20px;
	}
.innercontainer fieldset {
	border:1px solid #d7d7d7; /* Default fieldset borders vary cross browser, so make them the same */
    font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    color:#666666;
    padding:15px 18px 10px 18px;
	
}

.innercontainer p{
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#383a3d; line-height:17px;}
.innercontainer span{
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px;  font-weight:bold;
	xcolor:#4f9e0f;
	}
	.innercontainer span.heading{
	font-size:15px;
	color: rgb(79, 158, 15);
	}
.innercontainer h5{
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; color:#383a3d; margin-bottom:10px;
	}
.innercontainer img{
	float:left;
	margin:10px 10px 0px 0px;
	padding:3px;
	border:1px solid #bcbcbc;
}	
.innercontainer p a{
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#383a3d; line-height:17px;}

.innercontainer p a span{
	color:#4f9e0f;
	}
	
.innercontainer p a:hover{
	color:#4f9e0f;
	text-decoration:underline;}


.innercontainer ul{
	list-style:none;
	margin-left:30px;
	margin-top:15px;
	margin-bottom:40px;
	padding:0px; 
/*mike flynn removed to fix error with text formatting after lists 9-27	float:left;*/
	}	
.innercontainer li{
	background:url(../images/arrow.gif) no-repeat 0px 3px;
	margin-bottom:15px;
	padding-left:10px;
	}	
.innercontainer li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#004d36;
	}	
.innercontainer li a:hover{
	color:#4f9e0f;
	}
.innercontainer li p{
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; color:#4f9e0f; font-weight:normal;padding-top:-5px;
	}
.button{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	border:none;
	width:80px;
	height:23px;
	padding-bottom:2px;
	margin-left:10px;
	cursor:pointer;
	background-color:#92bd6e;
	border:1px solid #769e55;
}

.map{
	margin:0 auto;
	width:633px;
	height:480px;	
	border:1px solid #b7b7b7;
	text-align:center;
	}
.investorlogin{
	width:180px;
	float:left;
	}
.investorlogin1{
	width:450px;
	padding-left:110px;
	}
.btn{
	padding-top:16px !important;
}

.presspage_list p{
	 background:url(../images/arrow.gif) left top no-repeat;}
.presspage_list a{
	font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ff0303; line-height:25px;
	}








