/* CSS Document */
/*.navigation{
	height:30px;
	margin:30px 0px 0px 25px;
	font-family:"Arial Narrow" Arial, Helvetica, sans-serif;	
	font-size:13px;
	text-transform:capitalize;
	z-index:250;
}
*/
.navigation{
	width: 652px;
	height: 38px;
	float: left;
	background:url(../images/nav_bg.gif) repeat-x left;
	margin-top: 13px;
	font-family: "Century Gothic";
	font-size: 13px;
	text-transform: capitalize;
	font-weight: normal;
	z-index: 250;
	padding: 3px 90px 0px 68px;
}

.navigation ul{
	list-style-type: none;
	margin:0;
	margin-left: 0px; /*Left offset of entire tab menu relative to page*/
	padding:0;
	position:relative; z-index:100;

}

.navigation ul li{
float:left;
margin:0;
padding:0;text-decoration:none; position:relative; z-index:1;


}
.navigation ul li.select{
	background:none;
}
.navigation a{
float:left;
margin:0;
padding: 0px 6px 0px 20px;
text-decoration:none;text-transform:capitalize;
}
.navigation a .arrow{
	position:absolute;
	bottom:0px;
	left:30px;
}
.navigation a:hover{
/*background-color:#92bd6e;*/
background:url(../images/tab_bg.gif) repeat-x;
text-decoration:none;
}

.navigation a span{
float:left;
display:block;
text-transform:capitalize;
padding: 8px 14px 11px 2px;
font-size:13px;
color:#FFF;
font-family:"Arial Narrow" Arial, Helvetica, sans-serif;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.navigation a span {float:none;}

/* End IE5-Mac hack */

.navigation a:hover span {
background:url(../images/tab_bg.gif) repeat-x;
color: #000000;
}

.navigation ul li.selected{ background:url(../images/tab_bg.gif) repeat-x; }

/*.navigation li.selected a{ 
background-position:0 -23px; 
}

.navigation li.selected a span{ 
background-position:100% -23px; 
color: #000000;
}

.navigation a:hover, .navigation li.selected a:hover{ 
background-position:0% -23px; 
}

.navigation a:hover span, .navigation li.selected a:hover span{ 
background-position:100% -23px; 
}*/

.navigation ul li .last{
	border:none;
}

/************************************************************************/

.navigation ul li ul{ display:none;}


.navigation ul li li{ margin:0; padding-top:0;}

.navigation ul li ul li ul li ul, .navigation ul li:hover ul li:hover ul li ul{ display:none;}


/* specific to non IE browsers */
.navigation ul li:hover a {color:#000000; background:url(../images/tab_bg.gif) repeat-x;  }
.navigation ul li:hover a span{ background:url(../images/tab_bg.gif) repeat-x; color:#000000; }

.navigation ul li:hover ul {display:block; position:absolute; top:32px; left:0; background:#5a5453; border:#54a614 1px solid; border-top:none; margin-left:0; z-index:10000;}
.navigation ul li:hover ul li{ display:block; background:none; }
.navigation ul li:hover ul li ul {display: none;}
.navigation ul li:hover ul li a {display:block; background:none;  color:#ffffff; font-size:12px; border-bottom:#54a614 solid 1px; width:140px; clear:both; padding:6px 13px 6px 13px;  letter-spacing:normal;}
.navigation ul li:hover ul li a:hover {background:#92bd6e; color:#000000;}
.navigation ul li:hover ul li:hover ul {display:block; position:absolute; left:186px; top:-4px; color:#000; border:#7E530E solid 1px; }
.navigation ul li:hover ul li:hover ul li a {display:block; width:160px;  color:#000;}
.navigation ul li:hover ul li:hover ul li a:hover { color:#7E530E;}


.navigation ul li:hover ul li:hover ul li:hover ul{ display:block;}

