<app-page-header [title]="'About'"></app-page-header>

<div class="row hidden-xs hidden-sm">
<div class="col-lg-3">
  <img class="icon-box-image" src="../assets/img/LTP_Drums.jpg">
</div>
<div class="col-lg-3">
  <img class="icon-box-image" src="../assets/img/LTP_Piano.jpg">
</div>
<div class="col-lg-3">
  <img class="icon-box-image" src="../assets/img/LTP_Cello.jpg">
</div>
<div class="col-lg-3">
  <img class="icon-box-image" src="../assets/img/LTP_Sing.jpg">
</div>
</div>

<div class="container">
<div class="row">
  <div class="col-lg-12">
    <div class="about-message">
      Orange County Music School has been providing the Orange Country area with high quality musical instruction for more than 20 years.
    </div>
  </div>
</div>
</div>

<div class="content-section-line"><span></span></div>

<div class="container">
<div class="row">
  <div class="col-lg-3">
    <img class="icon-box-image about-info-img" src="../assets/img/about_1.jpg">
    <img class="icon-box-image about-info-img" src="../assets/img/about_2.jpg">
  </div>
  <div class="col-lg-9">
    <!-- MSG -->
    <p>We are a music school that offers comprehensive instruction in both theory and practice. You can also get private lessons, including private lessons from an Academy teacher right in your own home. All ages, from small children to senior citizens, are welcomed and taught if they wish to learn music. Whether you are a beginner, intermediate, or advanced music student, Orange County Music School School can help you become better.</p>

    <p>Recitals and concerts are held at least twice a year to provide students with confidence-building performance experience. Theory classes are taught in preparation for exams of all levels concerning theory, history, harmony, counterpoint, and analysis. Full training is offered in repertoire, composition, performance technique, ear training, and sight-reading to prepare classical students for the Certificate of Merit Exam.</p>

    <div class="row instr-row">
      <div class="col-lg-3"> 
        - Basic Music Theory
      </div>
      <div class="col-lg-3"> 
        - Piano
      </div>
      <div class="col-lg-3"> 
        - Percussion
      </div>
      <div class="col-lg-3"> 
        - Keyboards
      </div>
    </div>
    <div class="row instr-row">
      <div class="col-lg-3"> 
        - Vocals
      </div>
      <div class="col-lg-3"> 
        - Violin
      </div>
      <div class="col-lg-3"> 
        - Guitar
      </div>
      <div class="col-lg-3"> 
        - How to Form a Band and Play Rock Music
      </div>
    </div>
    
    <p>Research shows that singing can enhance your health and decrease your stress, and playing music makes you smarter, healthier, and happier. Orange County Music School School can help you become a healthier, happier person. Start hearing things in music that you don't even dream exist right now...</p>

    <p>Orange County Music School School - Music Education in the Finest European Traditions.</p>
  </div>
</div>
<!-- GROUP -->
<div class="row">
  <h2 class="AC">Why we recommend group lessons for young beginners</h2>

  <p>A group setting provides excitement, friends, and inspiration during the first 2-3 difficult years of piano/keyboard lessons. After completing the class, we encourage students to continue private lessons with the instructor of their choice.</p>

  <p>Benefits of learning in a group include:</p>
  <div class="col-lg-6">
    <h3>Listening</h3>
    <p class="mL15">Playing music in a group helps students learn to listen and stay together with the group.</p>
    <h3>Rhythm</h3>
    <p class="mL15">Working in a group helps students strengthen rhythm skills.</p>
    <h3>Solfege</h3>
    <p class="mL15">When we sing the solfege (do, re, mi) syllables while reading notes or playing the keyboard, we develop a strong sense of tonality and relative pitch.</p>
  </div>
  <div class="col-lg-6">
    <h3>Reading</h3>
    <p class="mL15">Reading music is a separate activity from performing on the keyboard, and includes using tools such as music flash cards and "secret" ways of learning the notes that make it fun and easy.</p>
    <h3>Performing</h3>
    <p class="mL15">Students perform every piece by memory in front of the class, thus preparing to perform in the recitals at an early age.</p>
  </div>
  
</div>
</div>



  
  
  
  
 
  