<!-- NAV -->
<!-- <app-header></app-header> -->

<!-- ALERTS --> 
<!-- <app-alert></app-alert>
<app-alert-multi></app-alert-multi> -->

<app-header></app-header>

<div class="app-content">
  <router-outlet>
    <app-live-chat-window></app-live-chat-window>
  </router-outlet>
  <!-- <div id="back_top" style="display: block;"><i class="fa fa-angle-up"></i></div> -->
</div>
<app-footer></app-footer>

<!-- TEMPLATES -->
<!-- <ng-template #showProfile_content>
  <ul>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/profile">Profile
    <span class="caret-remade"></span></a>
    <ul class="dropdown-menu">
      <li *ngIf="currentUser.email === 'jacobus.anthony.harding@gmail.com' || currentUser.email === 'stellakotova@aol.com'">
        <a routerLink="/admin">Administration</a>
      </li>
      <li><a routerLink="/profile">View Profile</a></li>
      <li><a routerLink="/" (click)="logout()">Logout</a></li>
    </ul>
  </li>
</ul>
</ng-template>  -->