.ltp-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.icon-box-image {
  width: 255px;
  border-radius: 5px;
  border:1px solid black;
}

.icon-box-name {
  font-size: 20px;
  font-weight: bold;
}

.icon-box-content {
  font-size: 18px;
}

.icon-box-icon {
  margin-bottom: 6px;
}