<div class="content-section-heading">
  <h1 class="content-section-title">
    <span>Learn To Play</span>
  </h1>
  <div class="content-section-line">
    <span>
    </span>
  </div>
</div>
<!-- LEARN TO PLAY  CONTENT -->
<div class="container">
  <!-- ROW 1 -->
  <div class="row">
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/learntoplay/piano">						
            <img class="icon-box-image" src="../assets/img/LTP_Piano.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Piano.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/learntoplay/piano">	
            PIANO					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/learntoplay/guitar">						
            <img class="icon-box-image" src="../assets/img/LTP_Guitar.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Guitar.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/learntoplay/guitar">	
            Guitar					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/learntoplay/Violin">						
            <img class="icon-box-image" src="../assets/img/LTP_Violin.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Violin.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/learntoplay/Violin">	
            Violin					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/learntoplay/Singing">						
            <img class="icon-box-image" src="../assets/img/LTP_Sing.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Sing.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/learntoplay/Singing">	
            Singing					
          </a>
        </div>
      </div>
    </div>
  </div>
   <!-- ROW 2 -->
  <div class="row">
   
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/learntoplay/Drums">						
            <img class="icon-box-image" src="../assets/img/LTP_Drums.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Drums.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/learntoplay/Drums">	
            Drums					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/learntoplay/Bass">						
            <img class="icon-box-image" src="../assets/img/LTP_Bass.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Bass.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/learntoplay/Bass">	
            Bass					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
        <div class="icon-box icon-box-center ">
          <div class="icon-box-icon">
            <a routerLink="/learntoplay/Cello">						
              <img class="icon-box-image" src="../assets/img/LTP_Cello.jpg">
              <img class="icon-box-image-hover" src="../assets/img/LTP_Cello.jpg">
            </a>					
          </div>
          <div class="icon-box-name">
          </div>
          <div class="icon-box-content">
          </div>
          <div class="icon-box-link">
             <a routerLink="/learntoplay/Cello">	
              Cello					
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="icon-box icon-box-center ">
          <div class="icon-box-icon">
            <a routerLink="/learntoplay/Ukulele">						
              <img class="icon-box-image" src="../assets/img/LTP_Ukulele.jpg">
              <img class="icon-box-image-hover" src="../assets/img/LTP_Ukulele.jpg">
            </a>					
          </div>
          <div class="icon-box-name">
          </div>
          <div class="icon-box-content">
          </div>
          <div class="icon-box-link">
             <a routerLink="/learntoplay/Ukulele">	
              Ukulele					
            </a>
          </div>
        </div>
      </div>
    
  </div>
</div>
<!-- 
<div class="col-lg-3">
  <div class="icon-box icon-box-center ">
    <div class="icon-box-icon">
      <a routerLink="/learntoplay/Trumpet">						
        <img class="icon-box-image" src="../assets/img/LTP_Trumpet.jpg">
        <img class="icon-box-image-hover" src="../assets/img/LTP_Trumpet.jpg">
      </a>					
    </div>
    <div class="icon-box-name">
    </div>
    <div class="icon-box-content">
    </div>
    <div class="icon-box-link">
        <a routerLink="/learntoplay/Trumpet">	
        Trumpet					
      </a>
    </div>
  </div>
</div> -->
<!-- <div class="col-lg-3">
<div class="icon-box icon-box-center ">
<div class="icon-box-icon">
  <a routerLink="/learntoplay/Flute">						
    <img class="icon-box-image" src="../assets/img/LTP_Flute.jpg">
    <img class="icon-box-image-hover" src="../assets/img/LTP_Flute.jpg">
  </a>					
</div>
<div class="icon-box-name">
</div>
<div class="icon-box-content">
</div>
<div class="icon-box-link">
    <a routerLink="/learntoplay/Flute">	
    Flute					
  </a>
</div>
</div>
</div> -->
<!-- <div class="col-lg-3">
<div class="icon-box icon-box-center ">
  <div class="icon-box-icon">
    <a routerLink="/learntoplay/Saxophone">						
      <img class="icon-box-image" src="../assets/img/LTP_Saxophone.jpg">
      <img class="icon-box-image-hover" src="../assets/img/LTP_Saxophone.jpg">
    </a>					
  </div>
  <div class="icon-box-name">
  </div>
  <div class="icon-box-content">
  </div>
  <div class="icon-box-link">
      <a routerLink="/learntoplay/Saxophone">	
      Saxophone					
    </a>
  </div>
</div>
</div> -->
<!-- <div class="col-lg-3">
<div class="icon-box icon-box-center ">
<div class="icon-box-icon">
  <a routerLink="/learntoplay/Clarinet">						
    <img class="icon-box-image" src="../assets/img/LTP_Clarinet.jpg">
    <img class="icon-box-image-hover" src="../assets/img/LTP_Clarinet.jpg">
  </a>					
</div>
<div class="icon-box-name">
</div>
<div class="icon-box-content">
</div>
<div class="icon-box-link">
    <a routerLink="/learntoplay/Clarinet">	
    Clarinet					
  </a>
</div>
</div>
</div> -->