<div class="row">
  <!-- Select Resource to Edit -->
  <div class="col-lg-6">
    <div class="resource-select-container">
      <button class="new-btn btn btn-info mB15" (click)="setNewResource()">New</button>
      <div class="resource-container">
        
      <app-tile-list-viewswitch (viewSelected)="view = $event"></app-tile-list-viewswitch>
      <div [ngClass]="{'list-view': view === 'list', 'tile-view': view === 'tile'}">
        <app-tile-list-viewswitch-item
          *ngFor="let res of resources | async; let i = index"
          [view]="view"
          [title]="(res.title.length > 45) ? (res.title | slice:0:45) + '...' : (res.title) "
          [desc]="res.category"
          [leftNote]="res.createdAt.toDate() | date:'mediumDate'"
          [rightNote]=""
          (click)="setSelectedResource(res)">
        </app-tile-list-viewswitch-item>
      </div>


      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <!-- SAVE FORM -->
  <form (ngSubmit)="saveResource(resourceForm)" #resourceForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" required
          [(ngModel)]="model.title" name="title"
          #title="ngModel"
          [ngClass]="{
            'has-success': title.valid,
            'has-danger': !title.pristine && !title.valid
          }">
          <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            Title is required
        </div>
      </div>
      <div class="form-group">
        <label for="url">URL</label>
        <input class="form-control" id="url" required
          [(ngModel)]="model.url" name="url"
          #url="ngModel"
          [ngClass]="{
            'has-success': url.valid,
            'has-danger': !url.pristine && !url.valid
          }">
          <div [hidden]="url.valid || url.pristine" class="alert alert-danger">
            URL is required
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input class="form-control" id="category" required
          [(ngModel)]="model.category" name="category"
          #category="ngModel"
          [ngClass]="{
            'has-success': category.valid,
            'has-danger': !category.pristine && !category.valid
          }">
          <div [hidden]="category.valid || category.pristine" class="alert alert-danger">
            Category is required
        </div>
      </div>
      <div class="form-group">
        <label for="isActive">Active</label>
        <input [checked]="model.isActive" 
        [(ngModel)]="model.isActive" 
        type="checkbox" 
        name="isActive" 
        id="isActive" 
        #isActive
        >      
          <!-- <div [hidden]="isActive.valid || isActive.pristine"
              class="alert alert-danger">
              isActive is required
        </div> -->
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!resourceForm.form.valid">Save</button>
    </form> 
  </div>
</div>





