@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	margin: 0px;
}
#container {
	width: 840px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#logo {
	width: 840px;
	float: left;
	height:110px;
	text-align:center;
}
.clear {
	clear: both;
}
#menu_container {
	float: left;
	width: 810px;
	margin-top: 13px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #54A613;
	border-bottom-color: #54A613;
	padding-top: 2px;
	padding-bottom: 2px;
}
#menu {
	background-color: #5a5453;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #504a49;
	float: left;
	width: 810px;
}
#menu ul {
	list-style-type: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 140px;
}
#menu li {
	float: left;
	padding-right: 40px;
	padding-bottom: 9px;
	padding-top: 7px;
}
#menu li a {
	font-family: "Century Gothic";
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	text-transform: uppercase;
}
#menu li a:hover {
	font-family: "Century Gothic";
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 11px;
	background-image: url(../images/menuhover.jpg);
	background-repeat: repeat-x;
	padding-right: 5px;
	padding-left: 5px;
	text-transform: uppercase;
}
#header {
	float: left;
	width: 810px;
	padding-top: 37px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #5a5453;
}
#body_container {
	float: left;
	width: 810px;
	padding-top: 17px;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #383a3d;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 10px;
	margin-left: 8px;
	line-height: 18px;
	clear: both;
	text-align:justify;
}
#right_content {
	float: left;
	width: 228px;
	margin-left: 18px;
}


#left_container {
	float: left;
	width: 563px;
}
#left_text_container {
	float: left;
	width: 541px;
	border: 1px solid #d7d7d7;
	padding: 10px;
	margin-bottom: 20px;
}
#hea2 {
	font-size: 18px;
	font-weight: bold;
	color: #4f9e0f;
	background-color: #FFFFFF;
	display: block;
	overflow: visible;
	position: relative;
	visibility: visible;
	z-index: 10;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	float: left;
	text-align: center;
	top: -20px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0px;
}
#hea3 {
	font-size: 17px;
	font-weight: bold;
	color: #0e76c4;
	background-color: #FFFFFF;
	display: block;
	overflow: visible;
	position: relative;
	visibility: visible;
	z-index: 10;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	float: left;
	text-align: center;
	top: -20px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0px;
}
#right_content h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #5a5453;
	text-transform: uppercase;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
}
.box {
	background-image: url(../images/boxbg.jpg);
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-family: tahoma;
	font-size: 11px;
	background-color: #538677;
	background-position: 0px center;
	float: left;
	padding: 7px;
	margin-bottom: 10px;
}
.box a {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.box a:hover {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
#footer {
	float: left;
	width: 810px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #5a5453;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #383a3d;
	padding-top: 10px;
	padding-bottom: 10px;
}
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #383a3d;
	text-decoration: none;
	padding-bottom: 5px;
	line-height:18px;
	
}
.menu {
	font-family: "Century Gothic";
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 11px;
	background-image: url(../images/menuhover.jpg);
	background-repeat: repeat-x;
	padding-right: 5px;
	padding-left: 5px;
	text-transform: uppercase;
}



.link21 {

  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#004d36;
 }
 
 .link21 a {

  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#004d36;
  text-decoration:none;
 }
 
 
 .link21 a:hover {

  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#004d36;
  text-decoration:underline;
 }
 
#left_text_container_inner {
	float: left;
	width: 97%;
	border: 1px solid #d7d7d7;
	padding: 10px;
	margin-bottom: 20px;
}


.comments {
	width:270px;
	height:150px;
	font-family:Tahoma;
	font-size:12px;
	color:#666666;
	background-color:#FFFFFF;
	border: 1px solid #666666;
}
p a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #383a3d;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 10px;
	margin-left: 8px;
	line-height: 18px;
	clear: both;
	text-align:justify;
}
p a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #383a3d;
	text-decoration: underline;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 10px;
	margin-left: 8px;
	line-height: 18px;
	clear: both;
	text-align:justify;
}
