
<!-- HOME SLIDER -->
<!-- <app-carousel></app-carousel> -->
<!-- <app-gallery-carousel [myImages]="myImages" homeSlider="true"></app-gallery-carousel>  -->
<app-home-splash></app-home-splash>

<!-- HOME NEWS -->
<app-home-news></app-home-news>

<!-- WHY US CONTENT -->
<app-home-tiles></app-home-tiles>

<!-- HOME VIDEO -->
<app-home-video></app-home-video>

<!-- HOME GALLERY -->
<app-home-gallery></app-home-gallery>

<!-- LEARN TO PLAY -->
<app-home-learntoplay></app-home-learntoplay>

<!-- TESTIMONIALS -->
<app-home-testimonials></app-home-testimonials>

<!-- TEACHERS -->
<app-home-teachers></app-home-teachers>