<div class="filter-options container AC">
  <app-selector-single 
    [placeHolder]="'Filter Read'" 
    [displayValues]="readFilter"
    (valueSelected)="readFilterClicked($event)">
  </app-selector-single>
  <input mat-input type="number" [value]="numMsgs" (change)="getNumMsgs($event.target.value)">
  <app-date-range-picker (dateRangeSelection)="selectedDate($event)"></app-date-range-picker>
</div>


<!-- <div *ngFor="let message of messages | async | readFilter:readFilterBy"
[style.borderColor]="message.read ? 'green' : 'red'"
(click)="readClicked($event, message)" 
class="message-card"> -->
<div *ngFor="let message of visMsgs | readFilter:readFilterBy"
[style.borderColor]="message.read ? 'green' : 'red'"
(click)="readClicked($event, message)" 
class="message-card">
  <div class="top">
      <div class="name">{{message.name}}</div>
      <div class="email">{{message.email}}</div>
      <div class="message">{{message.message}}</div>
  </div>
  <div class="bottom">
      <div class="left createdAt">{{message.createdAt.toDate() | date:'medium'}}</div>
  </div>
</div>

<!-- <app-tile-list-viewswitch (viewSelected)="view = $event"></app-tile-list-viewswitch>
<div [ngClass]="{'list-view': view === 'list', 'tile-view': view === 'tile'}">
  <app-tile-list-viewswitch-item
    *ngFor="let message of messages | async | readFilter:readFilterBy; let i = index"
    [style.borderColor]="message.read ? 'green' : 'red'"
    [view]="view"
    [title]="message.message"
    [desc]="message.name"
    [leftNote]="message.createdAt | date:'mediumDate'"
    [rightNote]="message.email"
    (click)="readClicked($event, message)">
  </app-tile-list-viewswitch-item>
</div> -->