:host {
  width: 100%;
}

.message-card {
  display: inline-block;
  border: 2px solid white;
  background: #efefef;
  padding: 1px;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}

.bottom .left {
  float:left;
  padding-right: 8px;
}

.bottom .right {
  float:right;
  padding-left: 8px;
}

.top {
  background: #fff;
  padding:3px;
  border-radius: 5px;
}

.filter-options form, .filter-options #datePicker {
  display: inline-block;
  margin: 5px 20px;
}

#datePicker {
  width: 320px;
  vertical-align: bottom;
}

.filter-options {
  text-align: center;
}