#cont {
  // display:flex;

  #inner {
    // align-items: center;
    // max-width:
  }
}

:host {
  background: pink;
}

:host /deep/ .video-cont {
  margin: 0 auto !important;
  max-width: 100% !important;
  width:20% !important;

  iframe {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  :host /deep/ .video-cont {
    width:100% !important;
  }
}
  