<div class="row">
  <!-- Select ann to Edit -->
  <div class="col-lg-6">
    <div class="ann-select-container">
      <button class="new-btn btn btn-info mB15" (click)="setNewAnnouncement()">New</button>
      <div class="ann-container">
        <div class="ann" (click)="setSelectedAnnouncement(ann)" *ngFor="let ann of announcements | async">
          <span>{{ (ann.announcement.length > 15) ? (ann.announcement | slice:0:15) + '...' : (ann.announcement) }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <!-- SAVE FORM -->
  <form (ngSubmit)="saveAnnouncement(annForm)" #annForm="ngForm">
      <div class="form-group">
        <label for="announcement">Announcement</label>
        <textarea rows="3" class="form-control" id="text" required
          [(ngModel)]="model.announcement" name="announcement"
          #announcement="ngModel"
          [ngClass]="{
            'has-success': announcement.valid,
            'has-danger': !announcement.pristine && !announcement.valid
          }">
        </textarea>
          <div [hidden]="announcement.valid || announcement.pristine" class="alert alert-danger">
            Question is required
        </div>
      </div>
      <div class="form-group">
        <label for="isActive">Active</label>
        <input [checked]="model.isActive" 
        [(ngModel)]="model.isActive" 
        type="checkbox" 
        name="isActive" 
        id="isActive" 
        #isActive
        >      
          <!-- <div [hidden]="isActive.valid || isActive.pristine"
              class="alert alert-danger">
              isActive is required
        </div> -->
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!annForm.form.valid">Save</button>
    </form> 
  </div>
</div>





