<div class="teacher-cont" style="display: flex; flex-flow:row wrap; justify-content: space-around;">
<div style="flex-basis: 12%;" *ngFor="let teacher of teachers | async">
  <div  class="portfolio-cell ">
    <div class="portfolio-cell-thumb">
      <div class="portfolio-cell-bg"></div>
      <a class="portfolio-cell-view" routerLink="/teachers/{{teacher.key}}">
        <!-- <i class="fa fa-eye"></i> -->
      </a>
      <a routerLink="/teachers/{{teacher.key}}">
        <img appLazyLoad src="{{teacher.imgUrl}}}" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
      </a>
    </div>
    <div class="portfolio-cell-data">
      <div class="portfolio-cell-title">
        <a routerLink="/teachers/{{teacher.key}}">{{teacher.name}}</a>
      </div>
      <div class="portfolio-cell-categories"><a routerLink="/instrument/{{teacher.instrument}}">{{teacher.instrument}}</a></div>
    </div>
  </div>		
</div>
</div>