.vid-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.vid-wrapper > .vid-item {
    // justify-content: center;
}

.vid-page-numbers {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  margin:5px;

  > button {
    margin:5px;
  }
}