<!-- WHY US -->
<div class="content-section-heading">
  <h1 class="content-section-title">
    <span>Why Orange County Music School?</span>
  </h1>
  <div class="content-section-line">
    <span>
    </span>
  </div>
</div>

<!-- WHY US  CONTENT-->
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="icon-box icon-box-center widget-element-bottom">
        <div class="icon-box-icon">
        <span class="icon-type-image">						
          <img class="icon-box-image" src="../assets/img/home/001.svg" />
          <img class="icon-box-image-hover" src="../assets/img/home/001.svg" />
        </span>					
        </div>
        <div class="icon-box-name">
          Simple/Easy																
        </div>
        <div class="icon-box-content">
          <p>
          We know your schedule is packed. So we will work with you to find the best and most appropriate times
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
       <div class="icon-box icon-box-center widget-element-bottom">
        <div class="icon-box-icon">
        <span class="icon-type-image">						
          <img class="icon-box-image" src="../assets/img/home/002.svg" />
          <img class="icon-box-image-hover" src="../assets/img/home/002.svg" />
        </span>					
        </div>
        <div class="icon-box-name">
          Skilled Teachers																
        </div>
        <div class="icon-box-content">
          <p>
          We will create the perfect lesson and teaching environment for every student.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
       <div class="icon-box icon-box-center widget-element-bottom">
        <div class="icon-box-icon">
        <span class="icon-type-image">						
          <img class="icon-box-image" src="../assets/img/home/003.svg" />
          <img class="icon-box-image-hover" src="../assets/img/home/003.svg" />
        </span>					
        </div>
        <div class="icon-box-name">
          SERVICE															
        </div>
        <div class="icon-box-content">
          <p>
          Orange County Music School is a ....
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center widget-element-bottom">
        <div class="icon-box-icon">
        <span class="icon-type-image">						
          <img class="icon-box-image" src="../assets/img/home/004.svg" />
          <img class="icon-box-image-hover" src="../assets/img/home/004.svg" />
        </span>					
        </div>
        <div class="icon-box-name">
          GUARANTEE															
        </div>
        <div class="icon-box-content">
          <p>
            Do we guarantee everything?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>