<!-- WHY US -->
  <div class="home-container">
<div class="content-section-heading">
  <h1 class="content-section-title">
    <span>Why Orange County Music School?</span>
  </h1>
  <div class="content-section-line">
    <span>
    </span>
  </div>
</div>

<!-- WHY US  CONTENT-->
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="icon-box icon-box-center widget-element-bottom">
        <div class="icon-box-icon">
        <span class="icon-type-image">						
          <img class="icon-box-image" src="../assets/img/home/001.svg" />
          <img class="icon-box-image-hover" src="../assets/img/home/001.svg" />
        </span>					
        </div>
        <div class="icon-box-name">
          Simple/Easy																
        </div>
        <div class="icon-box-content">
          <p>
            No gimmicks, we have a traditional approach to lessons with piano and all musical intruments. Including but not limited to sight-reading, theory, technique, and performing skills
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
       <div class="icon-box icon-box-center widget-element-bottom">
        <div class="icon-box-icon">
        <span class="icon-type-image">						
          <img class="icon-box-image" src="../assets/img/home/002.svg" />
          <img class="icon-box-image-hover" src="../assets/img/home/002.svg" />
        </span>					
        </div>
        <div class="icon-box-name">
          Skilled Teachers																
        </div>
        <div class="icon-box-content">
          <p>
            We have highly certified, professional teachers with music degrees. Ability to experience different teachers and teaching methods. 
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
       <div class="icon-box icon-box-center widget-element-bottom">
        <div class="icon-box-icon">
        <span class="icon-type-image">						
          <img class="icon-box-image" src="../assets/img/home/003.svg" />
          <img class="icon-box-image-hover" src="../assets/img/home/003.svg" />
        </span>					
        </div>
        <div class="icon-box-name">
          SERVICE															
        </div>
        <div class="icon-box-content">
          <p>
            Providing quality group and private lessons. Regular assessments, recitals twice a year and regular performance opportunites. Ask us for a FREE TRIAL LESSON. 
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center widget-element-bottom">
        <div class="icon-box-icon">
        <span class="icon-type-image">						
          <img class="icon-box-image" src="../assets/img/home/004.svg" />
          <img class="icon-box-image-hover" src="../assets/img/home/004.svg" />
        </span>					
        </div>
        <div class="icon-box-name">
          GUARANTEE															
        </div>
        <div class="icon-box-content">
          <p>
            Professional and fun atmosphere with knowledgeable teachers. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>