#footer{
	position:relative;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0px 4px 0px rgba(0,0,0,0.025) inset;
    background-color: #fafafa;
}

#footer-widget-container{
	padding:0px 0px;
}

.footer-column{
	padding-top:60px;
	padding-bottom:60px;
}

.footer-widget{
	padding-bottom:60px;
}

.footer-widget:last-child{
	padding-bottom:0px;
}

.footer-widget-title{
	margin-bottom:20px;
	position:relative;
}


.footer-widget a{
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
}

.footer-widget ul{
	margin:0px;
	padding:0px;
}

.footer-widget ul li:first-child{
	padding-top:0px;
}

.footer-widget ul ul li:first-child{
	padding-top:6px;
}

.footer-widget ul li:last-child{
	border-bottom:0px;
	padding-bottom:0px;
}

.footer-widget ul li{
	list-style-type:none;
	padding:6px 0px 6px 0px;
}



#footer-bottom{
	position:relative;
	padding:30px 0px 30px 0px;
	z-index:3;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Lato',Arial !important;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

#footer-copyright{
	float:left;
}

#footer-right {
	float:right;
}

#footer-right a{
	margin-left:20px;
  color: #808080;
}

img.home-footer-img {
  width: 50px;
  margin-left: 70px;
}